<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DefaultEndpoint">
                    <security mode="Transport" />
                </binding>
				<binding name="ChaseCert">
					<security mode="Transport" >
						<transport clientCredentialType="Certificate">
						</transport>
					</security>
				</binding>
            </basicHttpBinding>
            
        </bindings>
        <client>
            <endpoint address="https://demo.krd.pl/Chase/3.1/Search.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="DefaultEndpoint"
                contract="Chase.ISearch" name="ChaseLogin" />
			<endpoint address="https://demo.krd.pl/Chase/3.1/cert/Search.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="ChaseCert" behaviorConfiguration="cert"
                contract="Chase.ISearch" name="ChaseCert" />
        </client>
		<behaviors>
			<endpointBehaviors>
				<behavior name="cert">
					<clientCredentials>
						<clientCertificate findValue="ac a9 fb 6d a3 03 38 ae e8 fc 09 ee c6 c5 73 8e 3f b9 c9 a8" storeLocation="CurrentUser" x509FindType="FindByThumbprint"/>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
    </system.serviceModel>
</configuration>